:root {
  --primary-color: #acc6aa;
  --secondary-color: #e4e6e4;
  --button-color: #6f7d6e;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Comfortaa", cursive;
}
.nav-item:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.nav-item {
  transition: all 300ms ease-in-out;
}

nav {
  font-family: var(--primary-font);
}
form {
  max-width: 500px;
  margin: 20px auto;
}

.table th,
.table td {
  vertical-align: middle;
  font-family: var(--secondary-font);
}
.table td {
  font-family: var(--primary-font);
  height: 54.5px;
  min-width: 160px;
}
.hero-list .form-control {
  display: inline-block; 
  text-align: center;
  max-width: 140px;

}
h1 {
  font-family: var(--primary-font);
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
#saveBtn2{
  transition: all 300ms ease-in-out;
  background-color: var(--button-color);
  color: #fff;
  margin-right: 10px;
}
#saveBtn2:hover{
  background-color: #fff;
  color:#4e4e4e;
}
#editBtn {
  transition: all 300ms ease-in-out;
  background-color: var(--button-color);
  color: #fff;
  margin-right: 10px;
}
#deleteBtn {
  transition: all 300ms ease-in-out;
  background-color: var(--button-color);
  color: #fff;
}
#deleteBtn:hover {
  background-color: #fff;
  color:#4e4e4e;
}
#editBtn:hover {
  background-color: #fff;
  color:#4e4e4e;
}
#saveBtn{
  transition: all 300ms ease-in-out;
  background-color: var(--button-color);
  border:none;
}
#saveBtn:hover{
  background-color: #fff;
  color:#4e4e4e;
}
#startDateLabel {
  text-align: left;
  display: block; 
}
.hero-list{
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 62px;
  line-height: 1.4;
}
.hero h2 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 32px;
}

.hero .container {
  width: 400px;
  margin: 0px auto;
}

.hero .col {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 20px 30px;
  transition: all 300ms ease-in-out;
}

.hero .col:hover {
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
}

.icon {
  font-size: 50px;
}
#searchInput{
  min-width: 180px;
  text-align: left;
}
.searchBar{
  margin-bottom:20px;
}